.card_title {
    margin: 10px;
    color: #12006b;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.card_name{
    width: 80%;
}

.burger_menu {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff00;
    color: #373737;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger_menu:hover {
    background-color: #7070703e;
}

.button_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}